/*color #495E57 #F4CE14*/
/* #EE9972 #FBDABB #EDEFEE #333333*/

.imginh{/*make in smaller*/
  width:50%;
  height:auto;
}
nav ul {
  display: flex;
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

nav ul li {
  margin-right: 10px; /* Add spacing between list items */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

a {
  text-decoration: none; /* Remove default underline */
  color: #333333; /* Set text color to black */
}

/*call to a*/
.call-to-action {
  display: flex;
  justify-content:  space-between;
  margin: 0 10%;
}

.image {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  top: 170px;
}
.content{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.background {
  background-color: #495E57;
  height: 500px;
}

.limited-box {
  width: 400px; 
  color:#edefee;
  margin-top: -50px;
  font-family: Karla, sans-serif;
  font-size: 18pt;
}

.h1incta {
  color:#f4ce14;
  font-size: 64pt;
  font-family: Markazi Text, serif;
}

.h3incta {
  color:#edefee;
  font-size: 40pt;
  font-family: Markazi Text, serif;
  margin-top: -70px;
}

.bincta {
  background-color: #f4ce14;
  border:none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 50px;
  cursor: pointer;
  font-size: 18pt;
  
}
.call-to-action button:hover {
  background-color: #e4be04; /* 设置按钮悬停时的背景颜色 */
}

/*this week*/
.thisweek {
  display: flex;
  margin: 100px 10%;
  flex-direction: column;
}

.thisweek-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: Markazi Text, serif;
  font-size: 20pt;
  font-weight: bold;
}

.thisweek-header h2 {
  margin: 0; /* 移除默认外边距 */
}

.thisweek-header button {
  padding: 10px 20px; /* 设置按钮内边距 */
  font-size: 16px; /* 设置按钮字体大小 */
  border: none; /* 移除默认边框 */
  border-radius: 5px; /* 设置按钮圆角边框 */
  background-color: #f4ce14; /* 设置按钮背景颜色 */
  color: #000; /* 设置按钮文本颜色 */
  cursor: pointer; /* 鼠标悬停时显示为指针 */
  transition: background-color 0.3s; /* 添加背景颜色变化的过渡效果 */
  margin-left: auto;
}

.thisweek-header button:hover {
  background-color: #e4be04; /* 设置按钮悬停时的背景颜色 */
}

.card-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-around
}

.card{
  width: 400px;
  background-color: #EDEFEE;
}
.card-text {
  padding: 20px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header p {
  color: #ee9972;
  font-size: 16pt;
  line-height: 1.5; 
}
.card-header h4 {
  font-size: 18pt;
}
.card-content {
  color: #495E57;
}

.card-img {
  width: 100%;
  height: 50%;
  margin: none;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card button {
  font-size: 16px;
  border: none;
  background-color: #EDEFEE;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}